@media(max-width:1200px){
    html{
        font-size: 15px;
    }
    .abt-text {
        padding: 0;
    }
    .link-img {
        height: 300px;
    }
    .hotel-left {
        padding: 50px 20px;
    }
}

@media(max-width:1024px){
    .menuToggle #wrap {
        transform: translateZ(0px) translateX(300px) rotateY(0deg);
        left: 90px;
    }
}

@media(max-width:850px){
    html{
        font-size: 14px;
    }
    .main-nav {
        width: 330px;
        padding: 0 30px;
    }
    .menuToggle #wrap {
        left: 30px;
    }
     .site-logo img {
        max-width: 250px;
    }
    .hero-section {
        height: 65vh;
    }
    .banner-text h1 {
        font-size: 3rem;
    }
    .about-sec .row {
        flex-direction: column;
    }
    .about-sec .col-md-5, .about-sec .col-md-7{
        width: 100%;
    }
    .abt-text p:last-child {
        margin-bottom: 30px;
    }
    .hero-section.sub-banner {
        height: 50vh;
    }
    .banner-text h1 {
        font-size: 2.7rem;
    }
    .hotel-wrap {
        flex-direction: column;
    }
    .hotel-left {
        padding: 30px 20px;
        width: 100%;
    }
    .hotel-right {
        width: 100%;
    }
    .hotel-img {
        height: 350px;
    }
    .first-wrap{
        flex-direction: column-reverse;
    }
}
@media(max-width:767px){
    .contact-btn {
        display: none;
    }
    nav {
        flex-direction: row-reverse;
    }
    .hero-section {
        height: 60vh;
    }
    .footer-logo img {
        max-width: 300px;
    }
    .accordion button[aria-expanded='true'] + .accordion-content {
        max-height: max-content;
    }
    .contact-img {
        height: 300px;
    }
}

@media(max-width:575px){
    .site-logo img {
        max-width: 240px;
    }
    .banner-text h1 {
        font-size: 2.7rem;
        text-align: center;
        word-break: break-all;
    }
    .hero-section {
        height: 50vh;
    }
    .ptb-50 {
        padding: 30px 0;
    }
    .about-img {
        height: 300px;
        position: relative;
    }
    .about-sec {
        background-color: #EEE7DA;
        padding: 30px 0 50px  0;
    }
    .link-img {
        height: 250px;
    }
    .copy-right {
        flex-direction: column;
    }
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .hotel-img {
        height: 300px;
    }
    .accordion button {
        padding: 1em 1.5rem 1em 0;
    }
    .feedback-heading h3 {
        font-size: 1.6rem;
    }
}

@media(max-width:375px){
    .main-nav {
        width: 250px;
        padding: 0 15px;
    }
    .menuToggle #wrap {
        transform: translateZ(0px) translateX(250px) rotateY(0deg);
        left: 0px;
    }
  .site-logo img {
        max-width: 200px;
    }
    .toggle{
        padding: 15px 15px;
    }
    .footer-logo img {
        max-width: 250px;
    }
    .hotel-img {
        height: 250px;
    }
}